.B { 
	background-color: green;
	a {
		font-size: 18px;
		color: black;
		text-align: center;
		padding-left: 33px;	
	}
} 

.B a:hover,
.B a:active,
.B a.active {
	color: black;
	text-shadow: 2px 2px 5px black;
	text-decoration: none;

}

$breakpoint-tablet: 768px;
@media (max-width: $breakpoint-tablet) {
	.B {
		a {
			font-size: 15px;
			color: black;
			text-align: center;
			padding-left: 33px;	
		}

	}
  
}